{{>navbar}}
<section class="chat">
    <h1>Chat con Websocket</h1>
    <form action="" class="chatContainer form">
        <header>
            <h3>Chat de</h3>
            <h3 id="userName"></h3>
        </header>
        <main>
            <div class="messagesContainer"></div>
        </main>
        <footer>
            <input type="text" name="message" id="message" placeholder="Escribe un mensaje">
            <button type="submit" id="btnSend">Enviar</button>
        </footer>
    </form>
</section>
