<section class="home-container">
    <header>
        {{> navbar}}
    </header>
    <main>
        <section class="product-container-home">
        <article>
        {{> products}}
        </article>
        </section>

    </main>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/socket.js"></script>