<section class="home-container">
    <header>
        {{> navbar}}
    </header>
    <main class="product-container-home" >
        {{> productsList}}
    </main>
</section>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/socket.js"></script>

