<section class="home-container">
    <header>
        {{> navbar}}
    </header>
    <main>
        <section>
        <h1>Home</h1>
        {{> products}}
        </section>
    <aside>
        <h4>Cargar Producto</h4>
        {{> productsForm}}
    </aside>
    </main>
</section>