*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: grey;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: white;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

small {
    font-weight: bold;
}

li{
    display: flex;
    gap: 10px;
}

.form-container {
    background-color: orange;
    height: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
}

.product-container-home {
    display:flex;
    flex-direction: column;
    gap: 20px;
}